/* Minimalist Syntax Highlighting */

.highlight {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0;
}

.highlight pre {
  margin: 0;
  padding: 0;
  background: none;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #708090; font-style: italic } /* Comment */
.highlight .err { color: #dc322f } /* Error */
.highlight .k { color: #8b008b; font-weight: bold } /* Keyword */
.highlight .o { color: #666 } /* Operator */
.highlight .cm { color: #708090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #708090; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #708090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #708090; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #dc322f } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #333; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #22863a } /* Generic.Inserted */
.highlight .go { color: #666 } /* Generic.Output */
.highlight .gp { color: #666; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #333; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #dc322f } /* Generic.Traceback */
.highlight .kc { color: #8b008b; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8b008b; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8b008b; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8b008b; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8b008b; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #458; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #099 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086b3 } /* Name.Builtin */
.highlight .nc { color: #458; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #900; font-weight: bold } /* Name.Function */
.highlight .nl { color: #900; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #8b008b; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #099 } /* Literal.Number.Float */
.highlight .mh { color: #099 } /* Literal.Number.Hex */
.highlight .mi { color: #099 } /* Literal.Number.Integer */
.highlight .mo { color: #099 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #099 } /* Literal.Number.Integer.Long */

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .highlight {
    background: #2a2a2a;
  }

  .highlight .c { color: #8b949e } /* Comment */
  .highlight .err { color: #f85149 } /* Error */
  .highlight .k { color: #ff7b72; font-weight: bold } /* Keyword */
  .highlight .o { color: #d4d4d4 } /* Operator */
  .highlight .cm { color: #8b949e } /* Comment.Multiline */
  .highlight .cp { color: #8b949e; font-weight: bold } /* Comment.Preproc */
  .highlight .c1 { color: #8b949e } /* Comment.Single */
  .highlight .cs { color: #8b949e; font-weight: bold } /* Comment.Special */
  .highlight .gd { color: #f85149 } /* Generic.Deleted */
  .highlight .gi { color: #56d364 } /* Generic.Inserted */
  .highlight .kc { color: #ff7b72; font-weight: bold } /* Keyword.Constant */
  .highlight .kd { color: #ff7b72; font-weight: bold } /* Keyword.Declaration */
  .highlight .kn { color: #ff7b72; font-weight: bold } /* Keyword.Namespace */
  .highlight .kp { color: #ff7b72; font-weight: bold } /* Keyword.Pseudo */
  .highlight .kr { color: #ff7b72; font-weight: bold } /* Keyword.Reserved */
  .highlight .kt { color: #79c0ff; font-weight: bold } /* Keyword.Type */
  .highlight .m { color: #79c0ff } /* Literal.Number */
  .highlight .s { color: #a5d6ff } /* Literal.String */
  .highlight .na { color: #79c0ff } /* Name.Attribute */
  .highlight .nb { color: #79c0ff } /* Name.Builtin */
  .highlight .nc { color: #79c0ff; font-weight: bold } /* Name.Class */
  .highlight .no { color: #79c0ff } /* Name.Constant */
  .highlight .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
  .highlight .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
  .highlight .nn { color: #d4d4d4 } /* Name.Namespace */
  .highlight .nt { color: #7ee787 } /* Name.Tag */
  .highlight .nv { color: #79c0ff } /* Name.Variable */
  .highlight .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
}
